/* Navbar.css */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ced8ff;
    padding: 10px 7%;
}
  
.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.logo{
    width: 90px;
    height: 90px;
    margin-left: 30px;
}
  
  .logo-text {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-right: 1rem; /* Add some margin between navigation items */
  }
  
  .nav-list a {
    text-decoration: none; /* Remove link underline */
    color: #333; /* Darker text color */
    font-weight: normal; /* Regular font weight */
  }
  
.nav-list a:hover {
    color: #007bff; /* Blue hover color */
}
  
.marquee-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

marquee {
    font-family: 'Times New Roman'; 
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
}